@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../image/earth2.jpeg");
    background-color: rgb(22, 118, 159);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #f0e6f0;
    text-align: center;
}

header {
    margin-top: 100px;
    min-height: 100px;
    font-size: 30px;
}

.boxes {
    display: grid;
    justify-content: space-around;
    justify-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 250px 50px 50px;
    color: black;
    grid-gap: 3px;
    justify-items: center;
    align-items: center;
    margin-left: 2rem;
    font-size: 2em;
    padding-top: 120px;
    padding-bottom: 1rem;
}

.grid-item1,
.grid-item2,
.grid-item3 {
    background-color: #cccccc;
    background-image: linear-gradient(rgb(10, 94, 189), rgb(18, 165, 165));
    border: 2px solid rgba(5, 5, 5, 0.383);
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    width: 400px;
    height: 400px;
    color: black;
    margin-top: 100px;
    border-radius: 30px;
}

.grid-item4 {
    background-color: #cccccc;
    background-image: linear-gradient(rgb(110, 215, 241), rgb(18, 165, 87));
    border: 6px solid rgba(17, 176, 201, 0.8);
    justify-items: center;
    align-items: center;
    font-size: 40px;
    color: black;
    padding: 50px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 80px;
}

#temperature {
    position: fixed;
    font-size: 4rem;
}

#tempContainer {
    font-size: 7rem;
    margin-left: 3rem;
    color: #e09718;
}

.arrow {
    border: solid rgb(24, 104, 116);
    border-width: 1 3px 3px 0;
    display: inline-block;
    font-size: 30px;
    padding: 3px;
    width: 50px;
    height: 30px;
}

.sky-item {
    background-color: rgba(225, 241, 243, 0.8);
    background-image: url('../image/sunny-sun.gif');
    border: 1px solid rgba(62, 75, 78, 0.383);
    background-size: 110%;
    border-radius: 100px;
    position: absolute;
    padding: 50px;
    margin-top: .5rem;
    margin-left: 4rem;
    font-size: 40px;
    width: 250px;
    height: 190px;
    color: black;
}

.cloudy {
    background: none;
    background-image: url('../image/cloudy_gif-url.gif');
    align-items: center;
    border-radius: 100px;
    background-size: cover;
}

.sunny {
    background: none;
    background-image: url('../image/sunny-sun.gif');
    align-items: center;
    border-radius: 100px;
    background-size: cover;
}

.snowy {
    background: none;
    background-image: url('../image/mascot-illustration-featuring-happy-snowflakes-260nw-528059782.webp');
    align-items: center;
    border-radius: 100px;
    background-size: cover;
}

.rainy {
    background: none;
    background-image: url('../image/pouring-rain-raoin-cloud.gif');
    align-items: center;
    border-radius: 100px;
    background-size: cover;
}

footer {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
}