@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url("../image/earth2.jpeg"); */
    background-color: rgb(22, 118, 159);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #f0e6f0;
    text-align: center;
}

header {
    background-color: #18bed8;
    min-height: 100px;
}

.boxes {
    display: grid;
    justify-content: space-around;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px 300px;
    color: black;
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    font-size: 2em;
    padding: 15px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 6px solid rgba(185, 17, 201, 0.8);
    text-align: center;
    padding: 10px;
    font-size: 25px;
    width: 400px;
    height: 300px;
}

footer {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
}